.messageBox {
  width: 50%;
  margin-bottom: .2rem;
  background-color: whitesmoke;
  height: auto;
  border-radius: .1rem;
}

.info {
  width: 50%;
  margin-bottom: .2rem;
  color: green;
  height: auto;
}