.navigationbar {
  width: 100vw;
  height: 5vh;
  background-color: lightgrey;
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  margin: 0;
}

.list > li {
  margin-left: .5rem;
}

